html,
body {
	width: 100% !important;
	overflow-x: hidden !important;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.video-player {
	width: 80%;
	height: auto;
	position: relative;
	padding-top: 56.25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.video-item {
	position: absolute;
	top: 0;
	left: 0;
}
