html,
body {
	width: 100% !important;
	overflow-x: hidden !important;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.video-wrapper {
	position: relative;
	aspect-ratio: 16/9;
	margin-top: 50px;
	margin-bottom: 10%;
	overflow: hidden;
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* .iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: none;
} */

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}

.video-player {
	width: 80%;
	height: auto;
	position: relative;
	padding-top: 56.25%;
	margin-left: auto;
	margin-right: auto;
}

.video-item {
	position: absolute;
	top: 0;
	left: 0;
}
